{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./apps/docs/tailwind.config.js",
  "tailwindFunctions": ["cva", "cn"]
}
